{% extends 'base.html.twig' %}

{% block body %}
<div class="update-profile">
    <h2>Mettre à jour votre profil</h2>
    {{ form_start(form) }}

    {{ form_row(form.email, {'label': 'Email'}) }}
    {{ form_row(form.roles, {'label': 'Rôles'}) }}
    {{ form_row(form.password, {'label': 'Mot de passe'}) }}
    {{ form_row(form.isVerified, {'label': 'Est vérifié'}) }}
    {{ form_row(form.firstname, {'label': 'Prénom'}) }}
    {{ form_row(form.lastname, {'label': 'Nom'}) }}
    {{ form_row(form.imageFile, {'label': 'Image de profil'}) }}
    {{ form_row(form._token) }}

    <button type="submit">{{ 'Mettre à jour le profil' }}</button>

    {{ form_end(form) }}
</div>
{% endblock %}
