<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        <style>
            .alert {
                padding:  10px;
                color:  white;
                text-align: center;
            }

            .alert-success {
                background-color: green ;
            }

            .alert-error {
                background-color: red;
            }

            .alert-info {
                background-color: blue;
            }

.video-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Verdeelt de beschikbare ruimte in 3 gelijke kolommen */
    grid-gap: 20px;
}

.video-item {
    width: 100%;
    background-color: #f2f2f2;
    padding: 20px;
}

.video-wrapper {
    width: 100%;
    height: 0;
    padding-bottom: calc(100% / (300 / 200)); /* Verhouding 300x200 */
    position: relative;
}

.video-wrapper iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


        </style>
      

        {% block javascripts %}
      
 <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
   {% endblock %}
   
    </head>
    <body>
    {{ include("/layouts/partials/_nav.html.twig") }}

    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ type }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <main role="main" class="container">
        {% block body %}{% endblock %}
    </main>

    {% block additional_javascripts %}
    {% endblock %}
    
</body>
</html>